<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="~/_content/ApplicationPartsLab.Module/Admin/Home/Index.css" rel="stylesheet" />
    <script>

    </script>
</head>
<body>

    <!--Title-->
    <h2>ApplicationPartsLab.Module.Admin.HomeController</h2>
    <hr />

</body>
</html>