@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{

}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    <!--Title-->
    <h2>Home.Update</h2>
    <hr />

    <!--Home-->
    <form asp-controller="Home" asp-action="Index" method="get">
        <input type="submit" value="Home" /><br />
        <br />
    </form>
    <hr />

</body>
</html>
